{% extends "base.html" %}
{% load staticfiles %}

{% block title %}-Scratch{% endblock %}

{% block content %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style='background-image: url("{% static 'img/home-bg.jpg' %}")'>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading">
					<h1>Scratch 게시판</h1>
					<hr class="small">
					<span class="subheading">PoApper</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<a href="http://ubuntu.poapper.com:7778/admin/scratch/post/add/">새글</a> &nbsp; <a href="http://ubuntu.poapper.com:7778/admin/scratch/post/">검색</a>
			<div class="post-preview">
				{% for post in post_list %}
				<a href="{% url 'scratch.views.post_detail' post.pk %}">
					<h2 class="post-title">
						{{ post.title }}
					</h2>
					<h3 class="post-subtitle">
						{{ post.subtitle }}
					</h3>
				</a>
				<p class="post-meta">작성: {{ post.created_at }},&nbsp;&nbsp; 수정: {{ post.updated_at }}</p>
				<hr>
				{% endfor %}
			</div>

			<!-- Pager -->
			<ul class="pager">
				<li class="next">
					<a href="#">Older Posts &rarr;</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}