{% extends "base.html" %}
{% load staticfiles %}

{% block title %}-Main{% endblock %}

{% block content %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{% static 'img/post-bg.jpg' %}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="post-heading">
					<h1>Main 게시판</h1>
					<hr align="left" width="50%">
					<span class="subheading">PoApper</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Post Content -->
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<script>
					var addr = 'http://ubuntu.poapper.com:7778/admin/main/post/'+ {{ post.pk }};
					</script>
					<a href="{% url "main.views.show_main" %}"><b>[글 목록으로]</b></a>&nbsp; <a href="#" onclick=" location.href = addr; return false;">[수정]</a>&nbsp; &nbsp;<b> 제목: </b> {{ post.title|safe }}
				</div>

				<style>
				img { max-width:100%; }
				</style>

				<div class="panel-body">
					{% if post.photo %}
						<center><img src="{{ post.photo.url }}"/></center>
					{% endif %}
					{{ post.content|safe|linebreaks }}
				</div>

				<div class="panel-footer">
					<h3>Comments(<a href="{% url "main.views.comment_new" post.pk %}"><u>댓글 쓰기</u></a>)</h3>

					<ul>
						{% for comment in post.comment_set.all %}
						<li>
							{{ comment.message }}
							<small>(by {{ comment.author }}, {{ comment.created_at }})</small>
							<a href="{% url "main.views.comment_edit" post.pk comment.pk %}">[수정]</a>
							<a href="{% url "main.views.comment_delete" post.pk comment.pk %}" class="text-danger">[삭제]</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<hr>
{% endblock %}